archimate     /
aws           /dist/
awslib        /dist/
azure         /dist/
C4            /
cloudinsight  /sprites/
cloudogu      /
elastic       /plantuml-elastic
gilbarbara    /sprites
kubernetes    /resource
logos         /sprites
material      /svg
office        /office2014/
osa           /OSA-Plantuml-Icons
tupadr3       /
